<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@800&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <!-- upper bar -->
    <div>
        <div>
            <div class="card-body" style="font-size:30px; background-color: rgba(255, 255, 255, 0.347);">
                <h1 class="fixed" style= "font-size:40px; color:white;">HEALTHCLUB</h1><center>
                <a style='color:rgb(0, 0, 0);'href="/">Home</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/schedule">Schedule</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/rating">Rating</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/bookinglist">Booking cart</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/profile"><%= name %></a> &nbsp;&nbsp;
                <a href="/logout" class="btn btn-danger">Logout</a></center>
            </div>
            <div>
                
            </div>
        </div>
    </div>


    <!-- body -->
    <% 
        if(eq_unrate.length > 0){
            %>
            <div class="maintrainscr  traincearchbox">
                <h1>Equipment Rating</h1>
            </div>
        
            <div class="maintrainscr traincearch traincearchbox">
                <form action="/complete-rating-equipment" method="post">
                    <input type="text" name="eq_r_id" value="<%=eq_unrate[0].equipment_id %>" style="display:none">
                    
                    <h1> Equipment name : <%= eq_unrate[0].equipment_name %></h1>
                    <h4> Type name : <%= eq_unrate[0].type_name %></h4>
                    Rating : <input type="radio" name="eq_rating" value="1" required> <input type="radio" name="eq_rating" value="2" required> <input type="radio" name="eq_rating" value="3"> <input type="radio" name="eq_rating" value="4"> <input type="radio" name="eq_rating" value="5"><br>
                    Reccomend(not Reccomend) : <br>
                    <input type="checkbox" name="eq_rec" value="1" > Need more working examples. <br>
                    <input type="checkbox" name="eq_rec" value="2" > There are too few exercise equipment, need more. <br>
                    Another : <input type="text" name="eq_rec" ><br>
                    <button type="submit" class="button">Submit</button>
                </form><br>
            </div>
            <a href="/rating/trainer"> <button class="button">Back</button> </a>
            <%
        }
    %>
    
</body>
</html>