<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@800&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
        <!-- <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a> -->
  <header>
    <div class="logo"><a href="/">HEALTHCLUB</a></div>

    <a class="re" href="/register"><button class="but">Register</button></a>
    <a class="log" href="/login"><button class="but">Login</button></a>
  </header>
  <div class="containerindex">
    <div class="leftcon">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta consectetur, neque obcaecati dicta a amet atque rem ratione alias beatae aliquam, laborum esse, velit dolore quis nihil cumque in.
    </div>
    <div class="rightcon">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum reprehenderit nulla nesciunt maiores ipsam blanditiis exercitationem sunt neque quaerat mollitia aliquam adipisci nostrum, expedita libero fugiat fugit labore sequi animi.
    </div>
  </div>
</body>
</html>
