<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="containerlogin">
        <h1 class="logtex">Login</h1>
        <form action="/login" method="post">
             E-mail <br><br>
            <input class="butlog" type="email" name="customer_email" required placeholder="Type your E-mail" ><br><br>
            Passwore <br> <br>
            <input class="butlog" type="password" name="customer_password" placeholder="Type your password" required><br>
            <br><br><br><br> <b><button class="butlogsub" type="submit">Login</button></b>
        </form><br><br><br><br>

        <a  href="/register"  > <p class="texre">Register</p> </a>
    </div>
</body>
</html>